@import '_dependencies';
@import '_table';

.keywords-landingpages {
    padding: 1rem 0 0;

    .graph-select-container {
        z-index: 1;
        position: absolute;
        right: 50px;
        width: 210px;
        padding-top: 30px;

        .simple-dropdown {
            .dropdown-menu {
                min-width: 160px;
            }
        }
    }

    .hide-domain-cell {
        .domain-cell {
            display: none;
        }

        .tags-cell {
            padding-left: 10px;
        }
    }

    th {
        white-space: nowrap;
    }

    td {
        white-space: nowrap;
        vertical-align: middle;
    }

    .value-bar {
        float: right;
    }

    .flex-row {
        display: flex;
    }

    .flex-row-right {
        display: flex;
        justify-content: flex-end;
    }

    .spacer {
        flex-grow: 1;
    }

    .more-icons {
        margin-left: 5px;
        text-decoration: underline;
    }

    .table-container {
        overflow: visible;
        border-top: 1px solid $border-color-medium-grey;
    }
}
