.table-empty-state {
    .title {
        font-size: 18px;
        font-weight: 500;
    }

    .sub-title {
        font-size: 14px;
        font-weight: 400;
    }

    button {
        margin-top: 20px
    }
}
