.side-notifications {
    height: auto;
    max-height: 210px;
    position: fixed;
    bottom: 0;

    &:hover {
        .notifications-close-all {
            opacity: 0.8;
        }
    }

    .radial-progress-container {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    .notifications-bl {
        max-height: 200px;
    }

    .notifications-close-all {
        position: absolute !important;
        left: 360px;
        bottom: auto !important;
        top: -70px;
        z-index: 9999;
        border-radius: 25px;
        padding: 7px 15px;
        background-color: #5d6c80;
        opacity: 0;
        color: white;
        font-size: 12px;

        &:hover {
            opacity: 1;
        }
    }

    .notifications-wrapper {
        height: auto;
        max-height: 210px;
        z-index: 9998;

        .notifications-bl {
            position: relative !important;
            height: auto;
            max-height: 210px;

            .notification {
                cursor: pointer !important;
                transition: 0.3s;
                height: auto !important;

                &:hover {
                    box-shadow: 0px 3px 60px -10px darken(#999, 20%) !important;

                    .notification-dismiss {
                        background-color: #f37b09 !important;
                    }
                }

                .notification-title {
                    word-break: break-word;
                }

                .notification-dismiss {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
