@import '_dependencies';

.edit-keywords {
    width: 600px;
    margin: auto;
    min-height: 100px;

    .footer {
        margin-top: 1rem;
        border-top: 1px solid $light-grey;
        @extend %flex-row;
        justify-content: flex-end;
        padding-top: 1rem;
        width: 100%;

        .btn {
            font-weight: 500;
            margin-left: 0.5rem;
        }
    }
}
