.btn {
    font-weight: 600;
    font-family: $controls-font-family;
    font-size: 0.8rem;

    @extend %btn;
    &-rounded {
        @extend %btn-rounded;
    }

    //colors
    &-brand-green {
        @extend %btn-brand-green;
    }

    &-brand-orange {
        @extend %btn-brand-orange;
    }

    &-outline-brand-orange {
        @extend %btn-outline-brand-orange;
    }

    &-brand-orange-gradient {
        @extend %btn-brand-orange-gradient;
    }

    &-brand-purple-gradient {
        @extend %btn-brand-purple-gradient;
    }

    &-red {
        @extend %btn-red;
    }

    &-outline-red {
        @extend %btn-outline-red;
    }

    &-brand-grey {
        @extend %btn-brand-grey;
    }

    &-facebook {
        @extend %btn-facebook;
    }

    &-google-plus {
        @extend %btn-google-plus;
    }

    //sizes
    &-large {
        @extend %btn-large;
    }
    &-small {
        @extend %btn-small;
    }
    &-small-block {
        @extend %btn-small-wide;
    }
}

.button-group-wrapper {
    @extend %tab-container;
    border: 0;
    span.btn {
        @extend %tab-item;
    }
}
