@import './_colors';
@import './_responsive';
@import './_mixins';
@import './_buttons-placeholders';
@import './_flex-placeholders';
@import './_tabs-placeholders';
@import './_forms-placeholders';
@import './_fonts';

$upsell-row-height: 40px;

$side-navbar-width: 80px;
$header-height: 65px;
