.password-confirm-icon {
  fill: $green;
  position: absolute;
  top: 55%;
  right: 7%;

  @include media('laptop') {
    right: 5%;
  }
}

.password-confirm-padding {
  padding-right: 30px;
  @include media('laptop') {
    padding-right: 35px;
  }
}
