@import '_dependencies';

.footer-wrapper {
    padding-top: 136px;
    height: 0;
}

footer {
    flex-shrink: 0;

    &.empty {
        color: $font-color-medium-dark-grey;
        flex-direction: column;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 80px);
        left: 80px;
        padding: 7px 0;

        &.full-width {
            width: 100%;
            left: 0;
            right: 0;
        }

        img {
            height: 34px;
            margin-right: 10px;
        }
        small {
            font-size: 70%;
        }
    }
}
