@import '_dependencies';

.value-delta {
    .icon {
        height: 16px;
        vertical-align: middle;
        margin-right: 5px;
        margin-bottom: 0.165em;
    }

    &.decrease {
        fill: $decrease-color;
        color: $decrease-color;
    }

    &.increase {
        fill: $increase-color;
        color: $increase-color;
    }
}
